<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    {% include 'head.njk' %}
    {% block head %}{% endblock %}
</head>
<body>
{% include 'header.njk' %}
{% block body %}
    {{ content | safe }}
{% endblock %}
{% include 'footer.njk' %}
</body>
</html>
